<h2>Confirmation page</h2>
<p>Введите личные данные:</p>

<form action= "/confirm" method="POST" role="form">
  <div class="form-group">
    <label>Ваше имя</label>
    <input name="client[name]" type="text" class="form-control" placeholder="Ваше имя" value="<%= @c.name %>">
  </div>
 
  <div class="form-group">
    <label>Ваше телефон</label>
    <input name="client[phone]" type="text" class="form-control" placeholder="Ваш телефон" value="<%= @c.phone %>">
  </div>

  <div class="form-group">
    <label>Адресс доставки</label>
    <input name="client[address]" type="text" class="form-control" placeholder="Ваш адресс" value="<%= @c.address %>">
  </div>

  <div class="form-group">
    <label>Список заказанных продуктов</label> 
    <input name="client[list]" type="text" class="form-control" placeholder="Ваш список" value="<%= @orders %>">
  </div>

  <input id="orders_input" name="orders" type="text" value="<%= @orders %>">
  <button type="submit" class="btn btn-primary btn-lg btn-block">Оплатить!</button>
  <button class="btn btn-danger btn-lg btn-block" onclick="return cancel_order()">Отменить заказ</button>

</form>